
@{
    ViewBag.Title = "_commentBox";
}
<div class="panel-body">
    <form>
        <div class="form-group">
            <label for="commentBox">Comment</label>
            <textarea class="form-control" id="commentBox" rows="3"></textarea>
        </div>
    </form>
    <ul id="CommentList" class="list-unstyled"></ul>
</div>

