
@{
    ViewBag.Title = "UnAthorizedAccess";

}

@section css{
    <link href="~/Content/Access-denied.css" rel="stylesheet" />
}

<h1 class="text"><span>403</span></h1>
    <a class="btn inline btn-primary" href ="@Url.Action("Index","Home")">Go to Home</a>

